

* {
    margin:0;
    padding:0;
    font:12pt Arial;
}



.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:70%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(4, 158, 30),
   2px 2px 0 rgb(4, 158, 30),
   3px 3px 0 rgb(4, 158, 30),
   4px 4px 0 rgb(4, 158, 30),
   5px 5px 0 rgb(4, 158, 30),
   6px 6px 0 rgb(4, 158, 30),
   7px 7px 0 rgb(4, 158, 30)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
  color: #02013a;
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(4, 158, 30);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(1, 97, 17);
 }


 .condicionalmia{
     text-align: center;
     color: rgb(84, 92, 92);
 }